<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Hitesh Joshi</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>ttagit</string>
	<key>CFBundleIdentifier</key>
	<string>com.ttagit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>600</real>
				<key>Identifier</key>
				<string>ttagit</string>
				<key>Width</key>
				<real>600</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>ttagit</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>TTAGIT</string>
				<key>Palette Label</key>
				<string>TTAGIT</string>
				<key>Popover</key>
				<string>ttagit</string>
				<key>Tool Tip</key>
				<string>Realtime twitter commenting</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>library/jquery.min.js</string>
				<string>library/sha1.js</string>
				<string>library/oauth.js</string>
				<string>network.js</string>
				<string>background.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>twitter commenting with NLP</string>
	<key>DeveloperIdentifier</key>
	<string>557PCK369T</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://ttagit.org/safari/updater.plist</string>
	<key>Website</key>
	<string>http://ttagit.com</string>
</dict>
</plist>
